# Copy this file to .env and adjust values for your environment.

RCA_KUBE_IN_CLUSTER=False
RCA_KUBECONFIG_PATH=/home/user/.kube/config

RCA_PROMETHEUS_URL=http://localhost:9090

RCA_LONGHORN_API_URL=http://longhorn-frontend.longhorn-system.svc.cluster.local:80/v1

RCA_K8S_POLL_INTERVAL=5
RCA_DOCKER_POLL_INTERVAL=5
RCA_PROM_POLL_INTERVAL=10
RCA_LONGHORN_POLL_INTERVAL=10
RCA_RCA_EVAL_INTERVAL=5

RCA_CPU_HIGH_PCT=95
RCA_MEM_HIGH_PCT=95
